Repository voxpupuli/puppet-cassandra, pull requests merged in 2020-01, with the labels that each got.

#448 Drop support for Puppet 4
  metadata.json
Labels: backwards-incompatible

#458 Modulesync 2.10.1
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .rubocop.yml
  .travis.yml
  CONTRIBUTING.md
  Dockerfile
  Gemfile
  Rakefile
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync

#451 fix puppet-string annotations & Generate REFERENCE.md
  REFERENCE.md
  docs/_index.html
  docs/css/common.css
  docs/css/full_list.css
  docs/css/style.css
  docs/file.README.html
  docs/frames.html
  docs/index.html
  docs/js/app.js
  docs/js/full_list.js
  docs/js/jquery.js
  docs/method_list.html
  docs/puppet_class_list.html
  docs/puppet_classes/cassandra.html
  docs/puppet_classes/cassandra_3A_3Aapache_repo.html
  docs/puppet_classes/cassandra_3A_3Adatastax_agent.html
  docs/puppet_classes/cassandra_3A_3Adatastax_repo.html
  docs/puppet_classes/cassandra_3A_3Adse.html
  docs/puppet_classes/cassandra_3A_3Afirewall_ports.html
  docs/puppet_classes/cassandra_3A_3Ajava.html
  docs/puppet_classes/cassandra_3A_3Aoptutils.html
  docs/puppet_classes/cassandra_3A_3Aparams.html
  docs/puppet_classes/cassandra_3A_3Aschema.html
  docs/puppet_classes/cassandra_3A_3Asystem_3A_3Aswapoff.html
  docs/puppet_classes/cassandra_3A_3Asystem_3A_3Asysctl.html
  docs/puppet_classes/cassandra_3A_3Asystem_3A_3Atransparent_hugepage.html
  docs/puppet_defined_type_list.html
  docs/puppet_defined_types/cassandra_3A_3Afile.html
  docs/puppet_defined_types/cassandra_3A_3Aprivate_3A_3Afirewall_ports_3A_3Arule.html
  docs/puppet_defined_types/cassandra_3A_3Aschema_3A_3Acql_type.html
  docs/puppet_defined_types/cassandra_3A_3Aschema_3A_3Aindex.html
  docs/puppet_defined_types/cassandra_3A_3Aschema_3A_3Akeyspace.html
  docs/puppet_defined_types/cassandra_3A_3Aschema_3A_3Apermission.html
  docs/puppet_defined_types/cassandra_3A_3Aschema_3A_3Atable.html
  docs/puppet_defined_types/cassandra_3A_3Aschema_3A_3Auser.html
  docs/top-level-namespace.html
  manifests/schema.pp
Labels: docs
